.canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.overlayed {
  position: absolute;
  z-index: 5;
}
.fade-in {
  opacity: 0;
  animation: fadeIn 5s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
