#root {
  margin: 0 auto;
  text-align: center;
}

.card {
  padding: 1em;
}

.read-the-docs {
  color: #888;
}
.zoom {
  transform: scale(6) translateY(95px) rotate(0);
  transform-origin: center;
  transition: transform 2.3s ease;
  display: inline-block;
}
